#logoImg {
	margin: auto;
	display: block;
    width: 350px;
}

input,
button {
    background: transparent;
    border: 0;
    outline: none;
}


.loginBox {
    width: 30%;
    height: auto;
    background-color: #0c1622;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .6);
    padding: 40px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.item {
    height: 45px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    position: relative;
}

.item input {
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 20px;
    box-sizing: border-box;
}

.item input:focus+label,
.item input:valid+label {
    top: 0px;
    font-size: 15px;
}

.item label {
    position: absolute;
    left: 0;
    top: 12px;
    transition: all 0.5s linear;
}

#remChkContainer {
	font-size: 0.9em;
	color: var(--col-dark-text);
}

.btn {
    padding: 10px 20px;
    margin-top: 30px;
    color: #f41303;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 35%;
}

.btn:hover {
    border-radius: 5px;
    color: #fff;
    background: #f43703;
    transition: all 1s linear;
}

#otherway{
    font-size: 20px;
    height:50px;
    margin: 0 auto;
    color: #f41303;
    text-transform: uppercase;
    letter-spacing: 2px; 
}

#otherway:hover {
    border-radius: 5px;
    /* color: #fff; */
    background: #ffffff;
    transition: all 1s linear;
    cursor:pointer;
}

.msg {
    text-align: center;
    line-height: 88px;
}

