.search-bar .input-group-text, .search-bar .search-input {
    border: 2px solid hsl(210, 11%, 23%);
}

.search-bar .input-group-text {
    background-color: hsl(210, 11%, 23%);
}

.search-bar .input-group-text i {
   color: white;
}

.search-bar .search-input {
    background-color: #000;
    color: white !important;
    caret-color: white;
}

.search-bar .search-input::placeholder {
    color: #aaa;
}

.search-bar .search-input:focus {
    background-color: #000;
}

.dropdown-menu {
    border: 1px solid hsl(210, 11%, 25%);
    background-color: hsl(210, 11%, 18%);
    color: white;
}
.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background-color: hsl(210, 11%, 21%);
}